<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Import Sipnow Data</title>
</head>
<body>

    <?php include_once __DIR__ . '/../shared/header.html'; ?>
    
    <div class="container">
        <h1>Import Sipnow Data</h1>
        <button id="importButton">Import Data</button>
    </div>
    <script src="/public/js/app.js"></script>
    <?php include_once __DIR__ . '/../shared/footer.html'; ?>
</body>
</html>
